<%= render @user %>

<div class="container">
  <% if @user.id == session["user_id"] %>
    <%= link_to "Edit this user", edit_user_path(@user), class: "btn btn-primary" %>   
  <% end %>
  <%= link_to "Back to users", users_path, class: "btn btn-success" %>
  <% if logged_in? and current_user.admin? %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "mt-4 btn btn-danger btn-sm"%>
  <% end %>
</div>
