<% if obj.errors.any? %>
    <% obj.errors.full_messages.each do |msg| %>
    <div class="container-fluid">
        <div class="alert alert-danger" role="alert">
            <strong><%= msg %></strong>
        </div>
    </div>
    <% end %>
<% end %>
