<% if obj.errors.any? %>
<% obj.errors.full_messages.each do |msg| %>
<div class="container">
    <div class="alert alert-danger" role="alert">
        <strong><%= msg %></strong>
    </div>
</div>
<% end %>
<% end %>
