<div class="container mt-4 p-4">
  <h1>Show Category</h1>

  <h3>Name : </h3>
  <p><%= @category.name %></p>

  <%= link_to "All categories", categories_path, class: "btn btn-primary btn-sm" %>

</div>